.App{
  display: grid;
  place-items: center;
  margin-top: 2rem;
}
#btn-create{
  padding: .5rem 1rem;
  margin: 1rem;
  font-size: 1.5rem;
}
#inp-create{
  padding: .5rem 1rem;
  margin: 1rem;
  font-size: 1.5rem;
}
.todo-list{
  display: grid;
  gap: 1rem;
  place-items: center;
  border: 1px solid white;
  padding: 1rem;
}
.todo-list h1{
  color: white;
  margin: 1rem;
  text-decoration: underline;
}
